* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: darkgreen;
    color: white;
    padding: 25px;
}

nav {
    background-color: rgb(0, 22, 0);
    padding: 08px;
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

main {
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: lightgrey;
}

main #circulo {
    margin: 20px;
    height: 150px;
    width: 150px;
    border: 5px solid darkgreen;
    border-radius: 150px;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    
}


